<div class="card" style="width: 18rem;">
    <img src="@caracter.Image" class="card-img-top" alt="...">
    <div class="card-body">
        <p class="card-text">@caracter.Name</p>
    </div>
</div>
@code {
    [Parameter, EditorRequired]
    public Results caracter { get; set; }

}
